<!-- Site footer -->
<footer class="site-footer" style="bottom: 0; width: 100%; margin-top:270px ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>@WebProje.Resources.HomeTexts.hakkinda</h6>
                <p class="text-justify"> 2019-2020 YAZ DÖNEMİ WEB PROGRAMLAMA DERSİ DÖNEM ÖDEVİDİR. </p>
                <p class="text-justify"> B191200350 - MUHAMMET SERTAÇ YILMAZ </p>
                <h7>2020/AĞUSTOS - İSTANBUL/ÜSKÜDAR - SAKARYA ÜNİVERSİTESİ</h7>
            </div>


            <div class="col-xs-6 col-md-3" style="margin-left:280px">
                <h6>@WebProje.Resources.HomeTexts.hizlilink</h6>
                <ul class="footer-links">
                    <li><a href="/Home/Index">@WebProje.Resources.HomeTexts.anasayfa</a></li>
                    <li><a href="/Home/Sirala">@WebProje.Resources.HomeTexts.editörüneniyileri</a></li>
                    <li><a href="/Home/Kategoriler">@WebProje.Resources.HomeTexts.filmler</a></li>
                    <li><a href="/Kategori/Index">@WebProje.Resources.HomeTexts.kategoriler</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; @WebProje.Resources.HomeTexts.haklar.
                </p>
            </div>


        </div>
    </div>
</footer>