@using WebProje.Models.EntityFramework
@model List<KATEGORILER>
@{
    ViewBag.Title = WebProje.Resources.HomeTexts.kategoriler;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" class="bg-warning" style=" color:#000000;font:bold 20px tahoma;">@WebProje.Resources.HomeTexts.kategoriler</h2>
<table id="ktg1" class="table table-bordered bg-warning " style="font:bold 16px tahoma;">
    <thead>
        <tr>
            <th>KATEGORİ ID</th>
            <th>KATEGORİ ADI</th>
            @if (User.IsInRole("True"))
            {
                <th>@WebProje.Resources.HomeTexts.sil</th>
                <th>@WebProje.Resources.HomeTexts.guncelle</th>
            }

            <th>@WebProje.Resources.HomeTexts.filmler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veri in Model)
        {
            <tr>
                <td>@veri.KATEGORIID</td>
                <td>@veri.KATEGORIAD</td>
                @if (User.IsInRole("True"))
                {
                    <td><a class="btn btn-danger" href="/Kategori/Sil/@veri.KATEGORIID">@WebProje.Resources.HomeTexts.sil</a></td>
                    <td><a class="btn btn-primary" href="/Kategori/KategoriGetir/@veri.KATEGORIID">@WebProje.Resources.HomeTexts.guncelle</a></td>
                }
                <td><a class="btn btn-dark" href="/Kategori/KategoriFilmGetir/@veri.KATEGORIID">@WebProje.Resources.HomeTexts.filmler</a></td>

            </tr>
        }
    </tbody>
</table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />



<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

    $('#ktg1').dataTable({});

</script>
@if (User.IsInRole("True"))
{
    <a href="/Kategori/Ekle" class="btn btn-primary">@WebProje.Resources.HomeTexts.ekle</a>
}
