@model WebProje.Models.EntityFramework.KATEGORILER
@{
    ViewBag.Title = "Kategori Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Güncelleme Sayfası</h2>

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
<div class="form-group">
    <div style="display: none;">
        @Html.LabelFor(m => m.KATEGORIID)
        @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })

    </div>
    <br />
    @Html.LabelFor(m => m.KATEGORIAD)
    @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
    <br />
</div>
    <div>
        <button class="btn btn-warning">@WebProje.Resources.HomeTexts.guncelle</button>
    </div>
}